debug_adapters/vscode-chrome-debug
debug_adapters/vscode-firefox-debug
debug_adapters/vscode-lldb
debug_adapters/vscode-python
debug_adapters/vscode-go
debug_adapters/vscode-php
debug_adapters/native-debug
persistance.json
.mypy_cache
