.BreakpointInlineComponent {
	width: 100rem;
}
.StackFrameComponent {
	padding-left: var(--width);
}
.table-item-selected {
	background-color: color(var(--accent) alpha(0.3));
}
.selected_stack_frame {
	background-color: color(var(--accent) alpha(0.3));
}
.StackframeSelectedError {
	background-color: rgba(255, 25, 25, 0.25);
}
.StackFrameComponent {
}
.EventLogText .console {
	--text-color: rgba(255, 255, 255, 0.5);
}
.EventLogText .stdout {
	--text-color: rgba(255, 255, 255, 1.0);
}
.EventLogText .stderr {
	--text-color: rgba(255, 50, 50, 1.0);
}
.ConsolePanel .Table {
	padding-left: 5px;
	padding-right: 5px;
}
.TerminalComponent {
	padding-left: 5px;
}
.BreakpointsPanel .Table {
	padding: 3px;
}
.DebuggerPanel {
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0);
	background-color: var(--segment-color);
}
.DebuggerPanel .Panel {
	border-radius: 5px;
}
.DebuggerItem {
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0);
	background-color: var(--segment-color);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	position: relative;
	left: -2px;
}
.Panel {
	border: 0px solid rgba(0, 0, 0, 0.025);
}

.TabbedPanel .Panel {
	padding-top: 2px;
	border: 1px solid var(--segment-color);
	background-color: var(--panel-color);
}
.Tab {
	background-color: rgba(0, 0, 0, 0.0);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-top: 7px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 0.5rem;
	margin-left: 3px;
	position: relative;
	left: 1px;
}
.Tab.selected {
	background-color: var(--segment-color);
	border: 1px solid var(--segment-color);
}
.VariablesPanel {
	overflow: hidden;
}
.UnderlineComponent {
	position: absolute;
	margin-bottom: 0.5rem;
	height: 5px;
	width: 100rem;
	background-color: color(var(--bluish) alpha(0.5));
}
.SelectedLineText {
	position: relative;
	bottom: .15rem;
	padding-right: 1rem;
	--text-color: color(var(--bluish) alpha(0.75));
}
.CommandPrompComponent {
	padding-left: 3rem;
}
