html {
}
.dark {
	--text-color: var(--foreground);
	--panel-color: color(var(--background) blend(black 80%));
	--input-color: color(var(--background) blend(black 80%));
	--segment-color: color(var(--background) blend(black 60%));
	--label-color: var(--text-color);
}
.light {
	--text-color: var(--foreground);
	--panel-color: color(var(--background) blend(black 92%));
	--input-color: color(var(--background) blend(black 90%));
	--segment-color: color(var(--background) blend(black 80%));
	--label-color: var(--text-color);
}
.secondary {
	--label-color: color(var(--text-color) alpha(0.7));
}
.primary {
	--label-color: var(--text-color);
}
.white {
	--label-color: white;
}
.red {
	--label-color: var(--redish);
}
.height {
	height: var(--height);
}
.width {
	width: var(--width);
}
.Img {
	width: var(--height);
	height: var(--height);
}
.Segment {
	background-color: var(--segment-color);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-left: 7px;
	padding-right: 7px;
	height: var(--height);
}
.Box {
	background-color: var(--segment-color);
	border-radius: 10px;
	padding-top: var(--box-padding-top);
	padding-bottom: var(--box-padding-bottom);
	border: 1px solid rgba(0,0,0,0.05);
}
a {
	text-decoration: none;
}
.Label {
	color: var(--label-color);
	position: relative;
	bottom: var(--label-offset);
}
.Table {
}
.Table.inset {
	padding-left: 1rem;
}
.TableItem {
}
.Input {
	padding-left: 4px;
}
.Input .Box {
	background-color: var(--input-color);
	border-radius: 3px;
}
.Input .Box.editing {
	border-style: solid;
	border-width: 0.75px;
	border-color: grey;
}
.Input .Box.error {
	border-style: solid;
	border-width: 0.75px;
	border-color: rgba(200, 100, 100, 1.0);
}
.Panel {
	padding-bottom: 100rem;
	border-radius: 10px;
	background-color: var(--panel-color);
}
.Panel .Segment {
	--width: 18rem;
}
