html {
}
.dark {
	--text-color: var(--foreground);
	--panel-color: color(var(--background) blend(black 80%));
	--segment-color: color(var(--background) blend(black 65%));
	--label-color: var(--text-color);
}
.light {
	--text-color: var(--foreground);
	--panel-color: color(var(--background) blend(black 92%));
	--segment-color: color(var(--background) blend(black 80%));
	--label-color: var(--text-color);
}
.secondary {
	--label-color: color(var(--text-color) alpha(0.7));
}
.primary {
	--label-color: var(--text-color);
}
.white {
	--label-color: white;
}
.red {
	--label-color: var(--redish);
}
.height {
	height: var(--height);
}
.width {
	width: var(--width);
}
.Img {
	width: var(--height);
	height: var(--height);
}
.Segment {
	background-color: var(--segment-color);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-left: 7px;
	padding-right: 7px;
	height: var(--height);
}
.Box {
	background-color: var(--segment-color);
	border-radius: 7px;
	padding-top: var(--box-padding-top);
	padding-bottom: var(--box-padding-bottom);
	border: 1px solid rgba(0,0,0,0.05);
}
a {
	text-decoration: none;
}
.Label {
	color: var(--label-color);
	position: relative;
	bottom: var(--label-offset);
}
.CodeBlock {
	position: relative;
	bottom: var(--label-offset);
}
.Table {
}
.Table.inset {
	padding-left: 1.5rem;
}
.TableItem {
}
.Panel {
	padding-bottom: 100rem;
	border-radius: 5px;
	background-color: var(--panel-color);
}
.Panel .Segment {
	--width: 18rem;
}
