on:
  push:
  workflow_dispatch:
  schedule:
  - cron: "0 12 * * *"

name: sync-build-release-all

jobs:

  vscode-js-debug:
    uses: ./.github/workflows/sync-build-release.yml
    
    with:
      upstream: microsoft/vscode-js-debug
      repository: vscode-js-debug
      tag_prefix: v1

      build: |
        npm install --legacy-peer-deps
        node_modules/.bin/gulp vsDebugServerBundle 
        mv dist extension
        zip -r extension.vsix extension

    secrets:
      token: ${{ secrets.PUSH_TOKEN }}


  vscode-python:
    uses: ./.github/workflows/sync-build-release.yml

    with:
      upstream: microsoft/vscode-python
      repository: vscode-python

      build: |
        npm install
        ./node_modules/.bin/gulp installPythonLibs
        npm run package
        mv ms-python-insiders.vsix extension.vsix
          
    secrets:
      token: ${{ secrets.PUSH_TOKEN }}


  firefox-js-debug:
    uses: ./.github/workflows/sync-build-release.yml

    with:
      upstream: firefox-devtools/vscode-firefox-debug
      repository: vscode-firefox-debug

      build: |
        npm install --legacy-peer-deps
        npm run build
        npm run package -- -o extension.vsix
          
    secrets:
      token: ${{ secrets.PUSH_TOKEN }}




